<section class="block__content_stat">
    <table class="table table--default table--stat">
        <thead>
        @@include('../table/thead__soccer__stat.html')
        </thead>
        <tbody>
        @@include('../table/tr__stat.html', {
        "teamlogo": "nh_washi.png",
        "teamname": "Arsenal"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "s_grana.svg",
        "teamname": "Arsenal"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "r_arsen.svg",
        "teamname": "Very long name"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "nh_vanco.png",
        "teamname": "svg"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "nh_vanco.svg",
        "teamname": "png"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "na_jama.png",
        "teamname": "Nation"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "s_eibar.svg",
        "teamname": "n"
        })

        @@include('../table/tr__stat.html', {
        "teamlogo": "s_realm.png",
        "teamname": "png"
        })
        @@include('../table/tr__stat.html', {
        "teamlogo": "s_realm.svg",
        "teamname": "svg"
        })
        @@include('../table/tr__stat.html', {
        "teamlogo": "s_r",
        "teamname": "none"
        })
        @@include('../table/tr__stat.html', {
        "teamlogo": "s_r",
        "teamname": "none very big"
        })
        </tbody>
    </table>
</section>


<!-- version 2 -->

<section class="stat__content">

  @@include('../stat/aspect.html', {
  "asp1": "corners",
  "name1": "Угловые",
  "asp2": "shots",
  "name2": "Удары",
  "asp3": "target",
  "name3": "Удары в створ",
  "asp4": "cards",
  "name4": "Желтые карточки",
  "asp5": "offsides",
  "name5": "Офсайды",
  "asp6": "falls",
  "name6": "Фолы",
  "tooltipeleft": "left",
  "tooltiperight": "right",
  "tooltipetop": "top",
  "tooltipebottom": "bottom"
  })

  @@include('../stat/it.html')



  <section class="stat__teams_block">
    @@include('../stat/row.html', {
    "teamlogo": "nh_washi.png",
    "teamname": "Arsenal"
    })

    @@include('../stat/row.html', {
    "teamlogo": "s_grana.svg",
    "teamname": "Arsenal"
    })

    @@include('../stat/row.html', {
    "teamlogo": "r_arsen.svg",
    "teamname": "Very long name"
    })

    @@include('../stat/row.html', {
    "teamlogo": "nh_vanco.png",
    "teamname": "svg"
    })

    @@include('../stat/row.html', {
    "teamlogo": "nh_vanco.svg",
    "teamname": "png"
    })

    @@include('../stat/row.html', {
    "teamlogo": "na_jama.png",
    "teamname": "Nation"
    })

    @@include('../stat/row.html', {
    "teamlogo": "s_eibar.svg",
    "teamname": "n"
    })

    @@include('../stat/row.html', {
    "teamlogo": "s_realm.png",
    "teamname": "png"
    })
    @@include('../stat/row.html', {
    "teamlogo": "s_realm.svg",
    "teamname": "svg"
    })
    @@include('../stat/row.html', {
    "teamlogo": "s_r",
    "teamname": "none"
    })
    @@include('../stat/row.html', {
    "teamlogo": "s_r",
    "teamname": "none very big"
    })
  </section>
</section>


<section class="stat__item stat__aspect">
  <span class="stat__group stat__group--team border__thin--right"></span>
  <span class="stat__group stat__group--game border__thin--right"></span>

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right",
  "img": "@@asp1",
  "name": "@@name1",
  "tooltipeposition": "@@tooltipetop"
  })

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__group stat__group--aspect",
  "img": "@@asp2",
  "name": "@@name2",
  "tooltipeposition": "@@tooltipetop"
  })

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__group stat__group--aspect",
  "img": "@@asp3",
  "name": "@@name3",
  "tooltipeposition": "@@tooltipetop"
  })

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__group stat__group--aspect",
  "img": "@@asp4",
  "name": "@@name4",
  "tooltipeposition": "@@tooltipetop"
  })

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__group stat__group--aspect",
  "img": "@@asp5",
  "name": "@@name5",
  "tooltipeposition": "@@tooltipeleft"
  })

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thick--right stat__group stat__group--aspect",
  "img": "@@asp6",
  "name": "@@name6",
  "tooltipeposition": "@@tooltipeleft"
  })
</section>

<section class="stat__item stat__it_row">

  <span class="stat__group stat__group--team border__thin--right"></span>

  <span class="stat__group stat__group--game border__thin--right">
    <span class="stat__sort--sorted stat__group stat__group--games stat__cell" data-sort>Игры</span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    @@include('../element/aspect.html',{
  "addClass": "aspect",
  "img": "corners",
  "name": "угловые",
  "tooltipeposition": "top"
  })


    <span class="stat__sort--sorted stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__sort--reversed stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell stat__sort--reversed">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
  </span>



  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__sort--sorted stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__sort--reversed stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__sort--sorted stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__sort--reversed stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
  </span>

  <span class="stat__group stat__group--aspect border__thick--right">
    <span class="stat__sort--sorted stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
    <span class="stat__sort--reversed stat__cell" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
    <span data-sort class="stat__cell">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="left">Тот.</span>
    </span>
  </span>

</section>

<div class="stat__row">
  <span class="stat__group stat__group--team border__thick--right">
    @@include('../element/team.html', {
  "team": {
  "class": "team--left",
  "logo": "@@teamlogo",
  "name": "@@teamname"
  }
  })

  </span>


  <span class="stat__group stat__group--game border__thin--right">
    <span class="stat__cell">и</span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell">1.6</span>
    <span class="stat__cell">24.5</span>
    <span class="stat__cell">6</span>
    </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell">1</span>
    <span class="stat__cell">2</span>
    <span class="stat__cell">3</span>
    </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell">1</span>
    <span class="stat__cell">2</span>
    <span class="stat__cell">3</span>
    </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell">1</span>
    <span class="stat__cell">2</span>
    <span class="stat__cell">3</span>
  </span>

  <span class="stat__group stat__group--aspect border__thin--right">
    <span class="stat__cell">1</span>
    <span class="stat__cell">2</span>
    <span class="stat__cell">3</span>
    </span>

  <span class="stat__group stat__group--aspect border__thick--right">
    <span class="stat__cell">1</span>
    <span class="stat__cell">2</span>
    <span class="stat__cell">3</span>
  </span>
</div>


.stat {
$stat_w_aspect: 165px;
$stat_h_it: 30px;
$stat_clr_prim: $clr__prim;
$stat_clr_prim_text: $clr__prim_text;
$stat_clt_row_even: $clr__prim--hover;

%stat_sort_cell {
position: relative;
}

%stat_sort_arrow {
display: block;
width: 1px;
height: 1px;
content: '';
border: 4px solid transparent;
border-bottom-color: $stat_clr_prim_text;
position: absolute;
right: 0;
}
//
//background-color: inherit;
//overflow-x: scroll;
//width: 100%;

&__content {
//width: 100%;
////min-width: 1200px;
//display: flex;
//flex-direction: row;
//flex-wrap: wrap;
//align-items: flex-end;
//justify-content: flex-end;
//justify-content: center;
//height: 100%;
//min-height: 250px;
overflow-y: hidden;
overflow-x: scroll;
}

&__item {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-end;
//display: block;
//height: 50px;
//margin-left: auto;
//margin-right: 0;
//width: 90%;
//background-color: darkcyan;
//flex-basis: auto;
//flex-grow: 1;
//flex-shrink: 1;
//width: 100%;
//overflow: scroll;
}

&__it_row {
//background-color: $stat_clr_prim;
//color: $stat_clr_prim_text;
//height: $stat_h_it;
//line-height: $stat_h_it;
////flex-basis: 10%;
//
//& .stat__cell:hover {
//  text-decoration: underline;
//  cursor: pointer;
//}
}

&__teams_block {
background-color: darkcyan;
width: 100%;
max-width: 100vw;
//text-align: right;
//flex-basis: 80%;
//flex-grow: 1;
//flex-shrink: 1;
//overflow-x: scroll;
//overflow-y: hidden;
}

&__row {
width: 100%;
max-width: 100vw;
//height: 25px;
//line-height: 25px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-end;
//background-color: lightsalmon;

//&:nth-of-type(2n) {
//  background-color: $stat_clt_row_even;
//}
//
//&_team {
//  min-width: 150px;
//}
}

&__group {
display: inline-flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
//width: 100%;
text-align: center;
padding: 0;
margin: 0;
flex-grow: 1;
flex-shrink: 1;
//flex-basis: 20%;

&--game {
width: $stat_w_aspect / 3;
}

&--aspect {
width: $stat_w_aspect;
}

&--team {
display: inline-block;
text-align: right;
min-width: 150px;
width: auto;
}
}

&__cell {
display: inline-block;
width: $stat_w_aspect / 3;
margin: 0;
padding: 0;
}

&__sort {

&--sorted {
//@extend %stat_sort_cell;

&:after {
//@extend %stat_sort_arrow;
//top: 50%;
//transform: rotate(180deg);
}
}

&--reversed {
//@extend %stat_sort_cell;
//
&:after {
//  @extend %stat_sort_arrow;
//  bottom: 50%;
}
}
}
}



<section class="stat__row stat__row--body">
    <span class="stat__row_cell stat__row_cell--team">
      @@include('../element/team.html', {
        "team": {
          "class": "team--left",
          "logo": "nh_washi.png",
          "name": "Arsenal"
        }
      })
    </span>
  <span class="stat__row_cell stat__row_cell--game">40</span>

  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>

</section>



<section class="stat__row stat__row--head">
  <span class="stat__row_cell stat__row_cell--team stat__row_cell--team_head"></span>
  <span class="stat__sort--sorted stat__row_cell stat__row_cell--game stat__row_cell--game_head" data-sort>Игры</span>

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })

  "asp1": "corners",
  "name1": "Угловые",
  "asp2": "shots",
  "name2": "Удары",
  "asp3": "target",
  "name3": "Удары в створ",
  "asp4": "cards",
  "name4": "Желтые карточки",
  "asp5": "offsides",
  "name5": "Офсайды",
  "asp6": "falls",
  "name6": "Фолы",
  "tooltipeleft": "left",
  "tooltiperight": "right",
  "tooltipetop": "top",
  "tooltipebottom": "bottom"



  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__row_cell stat__row_cell--it" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__row_cell stat__row_cell--it stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__row_cell stat__row_cell--it stat__sort--sorted">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
</section>
