<section class="stat__row stat__row--team">
    <span class="stat__row_cell stat__row_cell--team border__thick--right">
      @@include('../element/team.html', {
        "team": {
          "class": "team--left team--logo_stat",
          "logo": "@@teamlogo",
          "name": "@@teamname"
        }
      })
    </span>
  <span class="stat__row_cell stat__row_cell--game">40</span>

  <span class="stat__row_cell stat__row_cell--it border__thin--left">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thin--right">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thin--right">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thin--right">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thin--right">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thin--right">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it">23.3</span>
  <span class="stat__row_cell stat__row_cell--it border__thick--right">23.3</span>

</section>




