<section class="stat__row stat__row--head">
  <span class="stat__row_cell stat__row_cell--team stat__row_cell--team_head"></span>
  <span class="stat__sort stat__sort--sorted stat__row_cell stat__row_cell--game stat__row_cell--game_head"
        data-sort>Игры</span>

  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right border__thin--left stat__row_cell stat__row_cell--aspect",
  "img": "corners",
  "name": "Угловые",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "shots",
  "name": "Удары",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "target",
  "name": "Удары в створ",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "cards",
  "name": "Желтые карточки",
  "tooltipeposition": "top"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thin--right stat__row_cell stat__row_cell--aspect",
  "img": "offsides",
  "name": "Офсайды",
  "tooltipeposition": "left"
  })
  @@include('../element/aspect.html',{
  "addClass": "aspect border__thick--right stat__row_cell stat__row_cell--aspect",
  "img": "falls",
  "name": "Фолы",
  "tooltipeposition": "left"
  })

  <span class="stat__sort stat__sort--reversed stat__row_cell stat__row_cell--it stat__row_cell--it_head border__thin--left" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thin--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thin--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thin--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thin--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thin--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>

  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head" data-sort>
      <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  <span class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--reversed" data-sort>
      <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
    </span>
  <span data-sort class="stat__sort stat__row_cell stat__row_cell--it stat__row_cell--it_head stat__sort--sorted border__thick--right">
      <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тот.</span>
    </span>
</section>
