<header class="header header--default">
    <h1 class="header__title">Анализ футбольной статистики</h1>

    <nav class="header__nav nav nav--default" id="header_nav">
        <ul class="nav__block ">
            <li class="nav__item nav__item--active" data-sport="index.html">
                <a href="index.html">
                    <img src="./img/soccer.png" alt="Футбол" class="nav__link_img">
                    <span class="nav__link_text">Футбол</span>
                </a>
            </li>

            <li class="nav__item" data-sport="hockey.html">
                <a href="hockey.html">
                    <img src="./img/hockey.png" alt="Футбол" class="nav__link_img">
                    <span class="nav__link_text">Хоккей</span>
                </a>
            </li>

            <li class="nav__item" data-sport="basketball">
                <a href="404.html">
                    <img src="./img/basketball.png" alt="Футбол" class="nav__link_img">
                    <span class="nav__link_text">Баскетбол</span>
                </a>
            </li>
        </ul>
    </nav>
</header>