<nav class="leagues leagues--default slider slider--horizontal"  id="leagues">
    <span class="slider__arrow slider__arrow--prev"
          data-slider="arrow--prev"></span>

    <div class="slider__container" data-slider="container">

        <a class="slider__item" href="lc/">
            <img src="./img/icon/s_apl.svg" alt="APL" title="APL" class="slider__item_img">
        </a>

        <!--  cicle      -->
        <a class="slider__item" href="lc/"><img src="./img/icon/s_le.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/s_lc.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/s_bun.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/s_nat.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/h_khl.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/h_nhl.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/s_rfp.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/s_lal.svg" alt="APL" title="APL" class="slider__item_img"></a>
        <a class="slider__item" href="lc/"><img src="./img/icon/r_cska.svg" alt="APL" title="APL" class="slider__item_img"></a>



    </div>

    <span class="slider__arrow slider__arrow--next"
          data-slider="arrow--next"></span>
</nav>
