<table class="calendar__table schedule">
  <tbody>


  @@include('../unnecessary/calendar_game.html', {
  "league": "s_apl.svg",
  "team_home": {
  "name": "Arsenal",
  "logo": "r_arsen.svg"
  },
  "team_away": {
  "name": "Барселона",
  "logo": "s_grana.svg"
  }
  })

  <!--    cicle-->
  @@include('../unnecessary/calendar_game.html', {
  "league": "s_bun.svg",
  "team_home": {
  "name": "Min",
  "logo": "nh_vanco.png"
  },
  "team_away": {
  "name": "Авангард И Очень Длиное название",
  "logo": "nh_vanco.svg"
  }
  })

  <!--    2 -->
  @@include('../unnecessary/calendar_game.html', {
  "league": "s_lal.svg",
  "team_home": {
  "name": "Ямайка",
  "logo": "na_jama.png"
  },
  "team_away": {
  "name": "Япония",
  "logo": "na_japa.png"
  }
  })

  <!--    cvg -->
  @@include('../unnecessary/calendar_game.html', {
  "league": "s_nat.svg",
  "team_home": {
  "name": "SVG",
  "logo": "r_cska.svg"
  },
  "team_away": {
  "name": "Check",
  "logo": "s_eibar.svg"
  }
  })

  <!--    png -->
  @@include('../unnecessary/calendar_game.html', {
  "league": "s_lc.svg",
  "team_home": {
  "name": "Check",
  "logo": "s_realm.png"
  },
  "team_away": {
  "name": "PNG",
  "logo": "nh_washi.png"
  }
  })

  </tbody>
</table>
