<section class="caption">
    @@include('../element/select__aspect.html', {
    "add_class": "caption__item caption__item--aspect",
    "name": "seasson_aspect"
    })

    @@include('../element/select__place.html', {
    "add_selected": "",
    "name": "seasson_place",
    "add_class": "select--default caption__item caption__item--place"
    })


    @@include('../element/select__times.html', {
    "name": "seasson_times",
    "add_class": "caption__item caption__item--times select--default"
    })
</section>