<section class="stat__content">
  @@include('../block__element/stat__row__head.html')

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "nh_washi.png",
  "teamname": "Arsenal"
  })


  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_grana.svg",
  "teamname": "Arsenal"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "r_arsen.svg",
  "teamname": "Металлург Магнитогорск"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "nh_vanco.png",
  "teamname": "svg"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "nh_vanco.svg",
  "teamname": "png"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "na_jama.png",
  "teamname": "Nation"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_eibar.svg",
  "teamname": "n"
  })

  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_realm.png",
  "teamname": "png"
  })
  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_realm.svg",
  "teamname": "svg"
  })
  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_r",
  "teamname": "none"
  })
  @@include('../block__element/stat__row__team.html', {
  "teamlogo": "s_r",
  "teamname": "from three words"
  })
</section>
