<tr>
  <th class="table__col_group table__col_group--teams table__col" rowspan="2"></th>
  <td class="border__thin--right table__col_group table__col_group--games"></td>
  <td colspan="3" class="border__thin--right table__col_group table__col_group--stat">
    <span   data-tooltip="Угловые" data-tooltip-position="top" class="aspect aspect--corners"></span>
  </td>
  <td colspan="3" class="border__thin--right table__col_group table__col_group--stat">
    <span   data-tooltip="Удары" data-tooltip-position="top" class="aspect aspect--shots"></span>
  </td>
  <td colspan="3" class="border__thin--right table__col_group table__col_group--stat">
    <span   data-tooltip="Удары в створ" data-tooltip-position="top" class="aspect aspect--target"></span>
  </td>
  <td colspan="3" class="border__thin--right table__col_group table__col_group--stat">
    <span   data-tooltip="Желтые карточки" data-tooltip-position="top" class="aspect aspect--cards"></span>
  </td>
  <td colspan="3" class="border__thin--right table__col_group table__col_group--stat">
    <span   data-tooltip="Офсайды" data-tooltip-position="left" class="aspect aspect--offsides"></span>
  </td>
  <td colspan="3" class="border__thick--right table__col_group table__col_group--stat">
    <span   data-tooltip="Фолы" data-tooltip-position="left" class="aspect aspect--falls"></span>
  </td>
</tr>
<tr class="table__sort_tr">
<!--  <th class="table__col "></th>-->

  <th class="table__sort_col border__thick--left">
    <span class="table__sort--sorted" data-sort>Игры</span>
  </th>
  <th class="table__sort_col table__col table__col--it">
    <span class="table__sort--sorted" data-sort>
        <span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span>
    </span>
  </th>
  <th class="table__sort_col">
      <span class="table__sort--reversed" data-sort>
        <span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top" >ИТ2</span>
      </span>
  </th>
  <th class="table__sort_col">
      <span data-sort>
    <span data-tooltip="Средний тотал за матч" data-tooltip-position="top">Тотал</span>
      </span>
  </th>

  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span></th>
  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top">ИТ2</span></th>
  <th class="table__sort_col"><span data-tooltip="Тотал за матч" >
    Тотал</span></th>

  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span></th>
  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top">ИТ2</span></th>
  <th class="table__sort_col"><span data-tooltip="Тотал за матч" data-tooltip-position="top">Тотал</span></th>

  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span></th>
  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top">ИТ2</span></th>
  <th class="table__sort_col"><span data-tooltip="Тотал за матч" data-tooltip-position="top">Тотал</span></th>

  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="top">ИТ1</span></th>
  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="top">ИТ2</span></th>
  <th class="table__sort_col"><span data-tooltip="Тотал за матч" data-tooltip-position="top">Тотал</span></th>

  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал команды" data-tooltip-position="left">ИТ1</span></th>
  <th class="table__sort_col"><span data-tooltip="Индивидуальный тотал соперника" data-tooltip-position="left">ИТ2</span></th>
  <th class="table__sort_col border__thick--right">
    <span class="table__sort--sorted" data-sort>
      <span data-tooltip="Тотал за матч" data-tooltip-position="left">Тотал</span>
    </span>
  </th>
</tr>
