<tr class="table__tr table__tr--stat">
    <td class="border__thick--right table__col table__col--right ">
        @@include('../element/team.html', {
        "team": {
        "class": "team--left",
        "logo": "@@teamlogo",
        "name": "@@teamname"
        }
        })
    </td>
    <td class="border__thin--right">2</td>
    <td>3</td>
    <td>4</td>
    <td class="border__thin--right">5</td>
    <td>6</td>
    <td>7</td>
    <td class="border__thin--right">8</td>
    <td>9</td>
    <td>10</td>
    <td class="border__thin--right">11</td>
    <td>12</td>
    <td>13</td>
    <td class="border__thin--right">14</td>
    <td>15</td>
    <td>16</td>
    <td class="border__thin--right">17</td>
    <td>18</td>
    <td>19</td>
    <td class="border__thick--right">20</td>
</tr>
