<div class="preloader preloader--default preloader--show @@add__class">
  <div class="preloader__inner">
    <div class="preloader__circle--1 preloader__child"></div>
    <div class="preloader__circle--2 preloader__child"></div>
    <div class="preloader__circle--3 preloader__child"></div>
    <div class="preloader__circle--4 preloader__child"></div>
    <div class="preloader__circle--5 preloader__child"></div>
    <div class="preloader__circle--6 preloader__child"></div>
    <div class="preloader__circle--7 preloader__child"></div>
    <div class="preloader__circle--8 preloader__child"></div>
    <div class="preloader__circle--9 preloader__child"></div>
    <div class="preloader__circle--10 preloader__child"></div>
    <div class="preloader__circle--11 preloader__child"></div>
    <div class="preloader__circle--12 preloader__child"></div>
  </div>
</div>
