<div class="select @@add_class">
    <!-- последовательность: сначала input потом label -->
    <input type="radio" name="@@name" id="@@name--all" value="all" class="select__inp" checked>
    <label for="@@name--all" class="select__label">Все</label>

    <input type="radio" name="@@name" id="@@name--first" value="first" class="select__inp">
    <label for="@@name--first" class="select__label">@@add_selected дома</label>

    <input type="radio" name="@@name" id="@@name--second" value="second" class="select__inp">
    <label for="@@name--second" class="select__label">@@add_selected в гостях</label>
</div>