<div class="select @@add_class">
    <!-- последовательность: сначала input потом label -->
    <input type="radio" name="@@name" id="@@name--corner" value="all" class="select__inp" checked>
    <label for="@@name--corner" class="select__label">Угловые</label>

    <input type="radio" name="@@name" id="@@name--shots" value="first" class="select__inp">
    <label for="@@name--shots" class="select__label">Удары</label>

    <input type="radio" name="@@name" id="@@name--target" value="second" class="select__inp">
    <label for="@@name--target" class="select__label">Удары в створ</label>

    <input type="radio" name="@@name" id="@@name--yellow" value="second" class="select__inp">
    <label for="@@name--yellow" class="select__label">Желтые карточки</label>

    <input type="radio" name="@@name" id="@@name--offsides" value="second" class="select__inp">
    <label for="@@name--offsides" class="select__label">Офсайды</label>

    <input type="radio" name="@@name" id="@@name--falls" value="second" class="select__inp">
    <label for="@@name--falls" class="select__label">Фолы</label>
</div>