

<link itemprop="styles"  rel="stylesheet" href="styles/dev.css">

<section class="development">
  <span class="development__ms">ms</span>
  <span class="development__ml">ml</span>
  <span class="development__ts">ts</span>
  <span class="development__tl">tl</span>
  <span class="development__ss">ss</span>
  <span class="development__sl">sl</span>
  <span class="development__ll">ll</span>
</section>

<script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>

<script>
  HTMLInspector.inspect({
    domRoot: "body",
    excludeRules: ["script-placement"],
  })
</script>
