<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Анализ футбольной статистики</title>

<!--<link rel="preload" href="style/style.css" as="style">-->


<link rel="shortcut icon" href="img/favicon.png" type="image/png">
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="styles/settings.css">
<link rel="stylesheet" href="styles/fonts.css">
<link rel="stylesheet" href="styles/normalize.css">
<!--<link rel="stylesheet" href="styles/aspect.css">-->
<link rel="stylesheet" href="styles/critical.css">
<link rel="stylesheet" href="styles/styles.css">



<!--<link rel="stylesheet" href="style/icons_nations.css">-->
